@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(230, 210, 185);  
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, rgb(170, 133, 87), rgb(61, 46, 27));
    color: white;
    text-align: center;
    padding: 30px;
}
header > h1, h2{
    font-family: cursive;
}
nav{
    background-color: rgb(51, 39, 24);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.397);
}
nav > a{
    color: rgb(206, 176, 140);
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(245, 221, 191);
    color: rgb(71, 41, 2);
    text-decoration: underline;
}
main{
    background-color:rgb(39, 37, 37);
    color: white;
    padding: 20px;
    max-width: 700px;
    min-width: 250px;
    display: block;
    margin: 0px auto 20px auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.507);
} 
main aside{
    text-align: center;
}
aside > h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
footer{
    background-color: rgb(46, 27, 2);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}